.input_wrapper {
  padding-bottom: 25px;
}

.input_field {
  width: 85%;
  background-color: white;
  height: 24px;
  border: none;
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.911);
  outline: none;
  border-bottom: 1px solid rgb(253, 253, 253);
  font-size: 1em;
  font-weight: 300;
  padding-bottom: 10px;
  margin-top: 20px;
}

.input_field:focus {
  font-weight: 500;
  color: white;
}

.input_field_errorText {
  display: block;
  color: rgb(251, 97, 76);
  font-size: smaller;
}

.input_field_label {
  display: block;
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: 500;
  color: rgb(255, 1, 1);
}

.input_field::placeholder {
  color: rgb(88, 72, 72);
}
