.dashboard_wrapper {
  height: 100%;
}

.dashboard_wrapper h1 {
  color: white;
  margin: 40px;
}

.dashboard_icons_wrapper {
  height: 35%;
  display: flex;
  justify-content: space-evenly;
}

.dashboard_icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 80%;
  max-width: 220px;
  max-width: 220px;

  border: 5px solid red;
}

.dashboard_icons {
  text-decoration: none;
  color: white;
  font-size: large;
}

.dashboard_icons:hover {
  cursor: pointer;
  border-bottom: 5px solid white;
  border-right: 5px solid white;
}

@media (max-width: 768px) {
  .dashboard_wrapper h1 {
    text-align: center;
  }
  .dashboard_icons_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 30%;
  }
  .dashboard_icons {
    width: 100px;
    height: 100px;
    font-size: x-small;
    border-radius: 3px;
  }
}
