.wrapper_private {
  background-color: black;
}
.dash_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 56px;
  font-size: 25px;
}

.dash_content {
  width: 85%;
}
