.wrapper_private {
  margin-top: 56px;
  background-color: black;
  display: flex;
  justify-content: center;
}

.wrapper_background {
  background-image: url("../../../common/assets/logo_background.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: right;
}

.wrapper_private_content {
  height: fit-content;
  min-height: 100vh;
  width: 100%;
  margin: 20px;
}
.dash_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 56px;
  font-size: 25px;
}

.dash_content {
  width: 85%;
}
