.users_screen {
  text-align: center;

  margin: 30px;
}

.user_screen_title {
  font-size: 45px;
  color: white;
}

.add_user_logo {
  padding: 5px;
  border-radius: 50%;
}
.add_user_logo:hover {
  cursor: pointer;
  background-color: rgba(240, 248, 255, 0.205);
}
