.table_card_wrapper {
  color: white;
  border: 1px solid white;
  background-color: black;
  margin-bottom: 4px;
}

.table_card_header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.table_card_content_wrapper {
  display: none;
  background-color: white;
  justify-content: space-around;
  height: 0;

  transition: height 0.8s ease-out;
}

.table_card_content_wrapper.open {
  background-color: white;
  justify-content: space-around;
  display: flex;

  height: 100vh;
}

.table_card_content_left {
  text-align: left;
  padding-left: 8px;
  width: 40vh;
}
