.wrapper_public {
  display: flex;
  flex-direction: row;
  background-color: black;
  background-image: url("../../../common/assets/logo_background.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: right;
}

.img_wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img {
  max-width: 80%;
  border: 1vh solid white;
}

.form_wrapper {
  width: 100%;
}
.dash_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 56px;
  font-size: 25px;
}

.dash_content {
  width: 85%;
}
