.custom_nav {
  width: 100%;
  position: fixed;
  height: 64px;
  top: 0;
  left: 0;
  color: white;
  background-color: rgb(0, 0, 0);
  border-bottom: 1px solid rgba(128, 128, 128, 0.39);
  z-index: 300;
}

.custom_nav_logo {
  padding: 0 0.5rem;
}

.custom_nav_bar {
  display: flex;
  height: 100%;
  align-items: center;
}

.spacer {
  flex: 1;
}

.custom_nav_bar_items {
  padding: 1rem;
}

.custom_nav_bar_item {
  padding: 1rem;
  text-decoration: none;
  color: white;
  font-weight: 600;
}

.custom_nav_bar_user_logo:hover,
.custom_nav_bar_user_logo:active {
  color: rgba(255, 0, 0, 0.863);
  cursor: pointer;
}

@media (max-width: 768px) {
  .custom_nav_logo {
  }
}
